
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/test-results 2/
/test-results 3/
/specs/
allure-results/
partialscreenshot.png
screenshot.png
ExcelJSUtil/